<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PlansPop' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>70019236-afc6-4ac7-94c4-f2e8e804a0d4</InstrumentationKey>
</ApplicationInsights>