<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="e56a2d5f-49ee-4e18-9b88-e97b4e055ee5" Publisher="CN=sbv23" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="e56a2d5f-49ee-4e18-9b88-e97b4e055ee5" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>PlansPop</DisplayName>
    <PublisherDisplayName>sbv23</PublisherDisplayName>
    <Logo>Assets\Logo_photoshop.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PlansPop.App">
      <uap:VisualElements DisplayName="PlansPop" Square150x150Logo="Assets\Logo_photoshop.png" Square44x44Logo="Assets\Logo_photoshop.png" Description="PlansPop" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo_photoshop.png" Square71x71Logo="Assets/Logo_photoshop.png" Square310x310Logo="Assets\Logo_photoshop.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Logo_photoshop.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>